<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <div class="topbar container">
        <div class="row">
            <div class="col-4"><img src="/images/logo.png" class="full"/></div>
            <div class="col-8">
                <nav>
                    <a href="/"><i class="fa-solid fa-house"></i>Home</a>
                    <a href="/tournment"><i class="fa-solid fa-list"></i>Tournment</a>
                </nav>
            </div>
        </div>
    </div>
    